In [205]:
import pandas as pd 
import numpy as np

year = 2023
dr = 'r'
f = f"rivers_with_locations/rivers_with_location_{year}.csv"
# f = f"ground_l/ground_with_location_{year}.csv"
print
# data = pd.read_csv("ground_l/ground_with_location_2012.csv")
data = pd.read_csv(f)
d_r = pd.read_csv(f)

# # Load your data
# data_file = 'rivers_with_location_2021.csv'
# rivers_data = pd.read_csv(data_file)

# Convert relevant columns to numeric
numeric_columns = ['TEMPERATURE_Min', 'TEMPERATURE_Max', 'DO_Min', 'DO_MAX', 
                   'pH_Min', 'PH_Max', 'CONDUCTIVITY_Min', 'CONDUCTIVITY_Max', 
                   'BOD_Min', 'BOD_Max', 'NITRATE_NITRATE_Min', 'NITRATE_NITRATE_Max',
                   'FECALCOLIFORM_Min', 'FECALCOLIFORM_Max', 'TOTALCOLIFORM_Min', 
                   'TOTALCOLIFORM_Max', 'FLUORIDE_Min', 'FLUORIDE_Max', 'Latitude', 'Longitude']

for col in numeric_columns:
    if col in data.columns:
        data[col] = pd.to_numeric(data[col], errors='coerce')

# Drop rows with missing lat/long
data = data.dropna(subset=['Latitude', 'Longitude'])

data.dtypes

STATION CODE               int64
STATE                     object
TEMPERATURE_Min          float64
TEMPERATURE_Max          float64
DO_Min                   float64
DO_MAX                   float64
pH_Min                   float64
PH_Max                   float64
CONDUCTIVITY_Min         float64
CONDUCTIVITY_Max         float64
BOD_Min                  float64
BOD_Max                  float64
NITRATE_NITRATE_Min      float64
NITRATE_NITRATE_Max      float64
FECALCOLIFORM_Min        float64
FECALCOLIFORM_Max        float64
TOTALCOLIFORM_Min        float64
TOTALCOLIFORM_Max        float64
FecalStreptococci_Min     object
FecalStreptococci_Max     object
Latitude                 float64
Longitude                float64
dtype: object

In [206]:
# data['Temp']=pd.to_numeric(data['Temp'],errors='coerce')
# data['DO_Min']=pd.to_numeric(data['DO_Min'],errors='coerce')
# data['DO_MAX']=pd.to_numeric(data['DO_MAX'],errors='coerce')
# data['BOD_Min']=pd.to_numeric(data['BOD_Min'],errors='coerce')
# data['BOD_Max']=pd.to_numeric(data['BOD_Max'],errors='coerce')
# data['pH_Min']=pd.to_numeric(data['pH_Min'],errors='coerce')
# data['PH_Max']=pd.to_numeric(data['PH_Max'],errors='coerce')
# data['NITRATE_NITRATE_Min']=pd.to_numeric(data['NITRATE_NITRATE_Min'],errors='coerce')
# data['NITRATE_NITRATE_Max']=pd.to_numeric(data['NITRATE_NITRATE_Max'],errors='coerce')
# data['FECALCOLIFORM_Min']=pd.to_numeric(data['FECALCOLIFORM_Min'],errors='coerce')
# data['FECALCOLIFORM_Max']=pd.to_numeric(data['FECALCOLIFORM_Max'],errors='coerce')
# data['TOTALCOLIFORM_Min']=pd.to_numeric(data['TOTALCOLIFORM_Min'],errors='coerce')
# data['TOTALCOLIFORM_Max']=pd.to_numeric(data['TOTALCOLIFORM_Max'],errors='coerce')
# data['FLUORIDE_Min']=pd.to_numeric(data['FLUORIDE_Min'],errors='coerce')
# data['FLUORIDE_Max']=pd.to_numeric(data['FLUORIDE_Max'],errors='coerce')
data.dtypes

STATION CODE               int64
STATE                     object
TEMPERATURE_Min          float64
TEMPERATURE_Max          float64
DO_Min                   float64
DO_MAX                   float64
pH_Min                   float64
PH_Max                   float64
CONDUCTIVITY_Min         float64
CONDUCTIVITY_Max         float64
BOD_Min                  float64
BOD_Max                  float64
NITRATE_NITRATE_Min      float64
NITRATE_NITRATE_Max      float64
FECALCOLIFORM_Min        float64
FECALCOLIFORM_Max        float64
TOTALCOLIFORM_Min        float64
TOTALCOLIFORM_Max        float64
FecalStreptococci_Min     object
FecalStreptococci_Max     object
Latitude                 float64
Longitude                float64
dtype: object

In [207]:
len = data.shape[0]
start = 0
end = len
station = data.iloc[start:end ,0]
# location = data.iloc[start:end ,1]
# state = data.iloc[start:end ,2]
do_min = data.iloc[start:end ,4].astype(np.float64)
do_max = data.iloc[start:end ,5].astype(np.float64)
# value = 0
ph_min = data.iloc[start:end, 6]  
ph_max = data.iloc[start:end, 7]  

bod_min = data.iloc[start:end, 10].astype(np.float64)
bod_max = data.iloc[start:end, 11].astype(np.float64)

nn_min = data.iloc[start:end ,12].astype(np.float64)
nn_max = data.iloc[start:end ,13].astype(np.float64)

fc_min = data.iloc[start:end, 14].astype(np.float64)
fc_max = data.iloc[start:end, 15].astype(np.float64)

tc_min = data.iloc[start:end, 16].astype(np.float64)
tc_max = data.iloc[start:end, 17].astype(np.float64)

# fl_min = data.iloc[start:end, 18].astype(np.float64)
# fl_max = data.iloc[start:end, 19].astype(np.float64)

ph_min
do = do_min
pH = ph_min.copy()  # start with ph_min
pH[(ph_min > 6.5) & (ph_min < 8.5)] = ph_max[(ph_min > 6.5) & (ph_min < 8.5)]

# pH = []
# for i in range(len(ph_min)):
# 	if ph_min[i] < 6.5:
# 		pH.append(ph_min[i])
# 	elif ph_min[i] > 8.5:
# 		pH.append(ph_min[i])
# 	else:
# 		pH.append(ph_max[i])
bod = bod_max
nn = nn_max
fc = fc_max
tc = tc_max

# data.head()

In [208]:
data = pd.concat([station, do, pH, bod, nn, fc, tc],axis=1)
data.columns = ['STATION CODE','do','pH','bod','nn','fc','tc']
data.head()

   STATION CODE   do   pH  bod    nn      fc      tc
0          1001  7.8  8.2  2.8  1.15   170.0   540.0
1          2601  7.6  6.5  2.8  1.87  1600.0  1600.0
2          4444  7.8  7.8  2.8  1.08  1600.0  1600.0
3          4037  7.9  6.3  1.0  1.74   110.0   540.0
4          3866  7.8  7.8  1.0  0.97   120.0   430.0

In [209]:
def normalize_pH(x):
	if 7 <= x <= 8:
		return 100
	elif 6.5 <= x < 7 or 8 < x <= 8.5:
		return 95
	# elif 6.1 <= x < 6.5 or 8.5 < x <= 8.9:
	# 	return 65
	# elif 5.8 <= x < 6.1 or 8.9 < x <= 9.2:
	# 	return 50
	# elif 5.5 <= x < 5.8 or 9.2 < x <= 9.5:
	# 	return 40
	# elif 5.0 <= x < 5.5 or 9.5 < x <= 10:
	# 	return 30
	# elif 4.0 <= x < 5.0 or 10 < x <= 11:
	# 	return 20
	else:
		return 0 
	
def normalize_DO(x):
	if x >= 6:
		return 100
	elif 5.1 <= x < 6:
		return 95
	elif 4.1 <= x < 5.1:
		return 60
	elif 3 <= x < 4.1:
		return 40
	elif 2 <= x < 3:
		return 20
	else:
		return 0
	
def normalize_BOD(x):
	if 0 <= x <= 3:
		return 100
	elif 3 < x <= 6:
		return 80
	elif 6 < x <= 10:
		return 60
	elif 10 < x <= 20:
		return 40
	elif 20 < x <= 40:
		return 20
	else:
		return 0

def normalize_TC(x):
	if x <= 500:
		return 100
	elif x <= 700:
		return 80
	elif x <= 1500:
		return 60
	elif x <= 2500:
		return 40
	elif x <= 6000:
		return 20
	else:
		return 0

def normalize_FC(x):
	if x <= 500:
		return 100
	elif x <= 1000:
		return 90
	elif x <= 1500:
		return 80
	elif x <= 2000:
		return 70
	elif x <= 2500:
		return 60
	elif x <= 5000:
		return 40
	elif x <= 6000:
		return 20
	elif x <= 8000:
		return 10
	else:
		return 0

def normalize_NN(x):
	if 0 <= x <= 10:
		return 100
	elif x <= 45:
		return 90
	# elif x <= 100:
	# 	return 60
	# elif x <= 200:
	# 	return 40
	# elif x <= 400:
	# 	return 20
	else:
		return 0
	
def normalize_F(x):
	if 0 <= x <= 1:
		return 100
	elif x <= 1.5:
		return 80
	# elif x <= 100:
	# 	return 60
	# elif x <= 200:
	# 	return 40
	# elif x <= 400:
	# 	return 20
	else:
		return 0


data['npH'] = data.pH.apply(normalize_pH)
data['ndo'] = data.do.apply(normalize_DO)
data['nbod'] = data.bod.apply(normalize_BOD)
data['ntc'] = data.tc.apply(normalize_TC)
data['nfc'] = data.fc.apply(normalize_FC)
data['nnn'] = data.nn.apply(normalize_NN)
data['nf'] = data.fc.apply(normalize_F)

data.head()
# data.dtypes

,STATION CODE,do,pH,bod,nn,fc,tc,npH,ndo,nbod,ntc,nfc,nnn,nf
0,1001,7.8,8.2,2.8,1.15,170.0,540.0,95,100,100,80,100,100,0
1,2601,7.6,6.5,2.8,1.87,1600.0,1600.0,95,100,100,40,70,100,0
2,4444,7.8,7.8,2.8,1.08,1600.0,1600.0,100,100,100,40,70,100,0
3,4037,7.9,6.3,1.0,1.74,110.0,540.0,0,100,100,80,100,100,0
4,3866,7.8,7.8,1.0,0.97,120.0,430.0,100,100,100,100,100,100,0

In [210]:
def calculate_wqi_with_nulls(data, norm_cols, weight_cols, new_col_name='wqi'):
    # Count nulls in normalized columns
    data['null_count'] = data[norm_cols].isnull().sum(axis=1)
    
    # Apply WQI formula row-wise only when <3 nulls
    def compute(row):
        if row['null_count'] >= 3:
            return np.nan
        valid_weights = [w for val, w in zip(row[norm_cols], row[weight_cols]) if not pd.isnull(val)]
        valid_values = [val for val in row[norm_cols] if not pd.isnull(val)]
        if not valid_weights or not valid_values:
            return np.nan
        return round(np.average(valid_values, weights=valid_weights), 1)
    
    data[new_col_name] = data.apply(compute, axis=1)
    data.drop(columns=['null_count'], inplace=True)
    return data

# data['wpH'] = data.npH * 0.15
# data['wdo'] = data.ndo * 0.26
# data['wbod'] = data.nbod * 0.22
# data['wtc'] = data.ntc * 0.20
# # data['wnn'] = data.nnn * 0.028
# data['wfc'] = data.nfc * 0.17
if dr == 'r':
	data['wpH'] = 0.15
	data['wdo'] = 0.26
	data['wbod'] = 0.22
	data['wtc'] = 0.20
	data['wfc'] = 0.17
	norm_cols_river = ['npH', 'ndo', 'nbod', 'nfc', 'ntc']
	weight_cols_river = ['wpH', 'wdo', 'wbod', 'wfc', 'wtc']

	data = calculate_wqi_with_nulls(data, norm_cols_river, weight_cols_river, new_col_name='wqi')

	# data['wqi'] = data.wpH + data.wdo + data.wbod + data.wtc + data.wfc 

elif dr == 'g':
	data['wpH'] = data.npH * 0.15
	data['wtc'] = data.ntc * 0.20
	data['wnn'] = data.nnn * 0.028
	data['wfc'] = data.nfc * 0.17
	data['wf'] = data.nf * 0.22
	# data['wqi'] = data.wpH + data.wtc + data.wfc + data.wnn + data.wf
	norm_cols_river = ['npH', 'nfc', 'ntc', 'nnn', 'nf']
	weight_cols_river = ['wpH', 'wfc', 'wtc', 'wnn', 'wf']

	data = calculate_wqi_with_nulls(data, norm_cols_river, weight_cols_river, new_col_name='wqi')

elif dr == 's':
	data['wpH'] = data.npH * 0.15
	data['wdo'] = data.ndo * 0.26
	data['wbod'] = data.nbod * 0.22
	data['wtc'] = data.ntc * 0.20
	# data['wnn'] = data.nnn * 0.028
	data['wfc'] = data.nfc * 0.17
	data['wqi'] = data.wpH + data.wdo + data.wbod + data.wtc + data.wfc + data.wnn

data

,STATION CODE,do,pH,bod,nn,fc,tc,npH,ndo,nbod,ntc,nfc,nnn,nf,wpH,wdo,wbod,wtc,wfc,wqi
0,1001,7.8,8.2,2.8,1.15,170.0,540.0,95,100,100,80,100,100,0,0.15,0.26,0.22,0.2,0.17,95.2
1,2601,7.6,6.5,2.8,1.87,1600.0,1600.0,95,100,100,40,70,100,0,0.15,0.26,0.22,0.2,0.17,82.2
2,4444,7.8,7.8,2.8,1.08,1600.0,1600.0,100,100,100,40,70,100,0,0.15,0.26,0.22,0.2,0.17,82.9
3,4037,7.9,6.3,1.0,1.74,110.0,540.0,0,100,100,80,100,100,0,0.15,0.26,0.22,0.2,0.17,81.0
4,3866,7.8,7.8,1.0,0.97,120.0,430.0,100,100,100,100,100,100,0,0.15,0.26,0.22,0.2,0.17,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,3943,5.6,8.5,2.4,0.86,2300.0,4900.0,95,95,100,20,60,100,0,0.15,0.26,0.22,0.2,0.17,75.2
1615,3942,3.2,8.5,1.8,0.93,13000.0,35000.0,95,40,100,0,0,100,0,0.15,0.26,0.22,0.2,0.17,46.6
1616,2115,6.6,8.6,1.8,1.42,2.0,63.0,0,100,100,100,100,100,0,0.15,0.26,0.22,0.2,0.17,85.0
1617,4753,2.9,6.5,11.7,0.00,NaN,NaN,95,20,40,0,0,100,0,0.15,0.26,0.22,0.2,0.17,28.2
1618,4754,3.1,6.5,11.1,0.00,NaN,NaN,95,40,40,0,0,100,0,0.15,0.26,0.22,0.2,0.17,33.4

In [211]:
wqi_data = data[['STATION CODE', 'wqi']]

# Merge on STATION CODE code
updated_df = d_r.merge(wqi_data, on='STATION CODE', how='left')

# Save to a new CSV or overwrite existing
updated_df.to_csv(f'rlwqi/r_l_wqi_{year}.csv', index=False)